body {
   background-color: blanchedalmond;
 
}

.container{
    max-width: 5000px;
    margin: 0 auto;  
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    color: black;
    display: flex;
    margin: 10 15px;
}
h1{
    text-decoration: none;
}

.a1{
    color: black;
    text-decoration: none;
    margin: 0 25px;
}


.a2{
    color: black;
    text-decoration: none;
    margin: 0 25px;
}


.a3{
    color: black;
    text-decoration: none;
    margin: 0 25px;
}
.menu{
    display: flex;
    list-style: none;
    
}

a:hover{
font-weight: bold;
font-size: 20px;
}

.ul1{
     display: flex;
    list-style: none;
}

.ul2{
     display: flex;
    list-style: none;
}


input{
    width: 100%;
    box-sizing: border-box;

}

textarea{
     width: 100%;
    box-sizing: border-box;
}

section{
    padding: 2rem 0; 
    border-top: 50px;
}

.ski{
    display: flex;
    justify-content: center;
    align-items: center;
   
 
}

.Fiches{
    max-width: 500px;
    max-height: 150px;
    margin: 0 auto;  
    background-color: rgb(255, 255, 255);
    margin: 10 150px;
    
}

h2{
    text-align: center;
}

.ft{
    text-align: center;
}

.a4{
    color: black;
    text-decoration: none;
}


.specs{
    opacity: 0;
}